<div class="email-text">Email: {{ email }} <a href="logout{% if destination %}?dest={{ destination }}{% endif %}">change</a></div>
{% if incorrect_logins >= max_login_attempts %}
    You have entered invalid login information too many times. Please wait 10 minutes and try again.
{% else %}
    <div class="status-text">Enter the 6-digit code from your authentication device:</div>
    <input type="number" name="mfa" placeholder="6-digit code" autofocus />
    {% if incorrect_logins > captcha_threshold %}
        <div class="captcha">
            <img src="{{ captcha_url }}" id="captcha" />
            <div class="fa-icon fa-icon-refresh" onclick="window.location.href = 'login?regen{% if destination %}&dest={{ destination }}{% endif %}';"></div>
        </div>
        <input type="text" placeholder="Security code" name="captcha" />
        <input type="hidden" name="captcha_id" value="{{ captcha_id }}"/>
    {% endif %}
    <p><check-box name="dont_ask" id="dont_ask" text="Don't ask again on this device for 30 days"></check-box>
    <input type="submit" name="submit" value="Continue">
{% endif %}